fastapi[all]
sqlalchemy 
passlib 
pydantic 
email-validator 
uvicorn 
bcrypt 
python-jose
google-auth
google-auth-oauthlib
requests
pytest
httpx
psycopg2-binary
sendgrid
alembic
python-slugify
python-multipart 
azure-storage-blob 
azure-identity
python-dotenv